.App {
  text-align: center;
}
body{
  background-color: #000000d2;
}

.scpSubjects{
  padding-top: 2%;
}
nav{
  background-color: #788289;
}
.scpSubjects{
  background-color: #2D2D2D;
}

.card-body{
  border: 1px solid #000000d2;
  border-radius: 10px;
  background-color: #788289;
}

/* #n_bar{
  color: Black;
  text-decoration: none;

} */

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: white;
}

ul {
  background-color: #788289;
}

#logo{
  width: 5%;
  display: flex;

}

img{
  width: 25%;
}

.nav-item{
  color: Black;
  text-decoration: none;
}

h1{
  color: white;
}
@media only screen and (max-width: 500px) {
  #logo {
    display: none;
  }
}