.App {
  text-align: center;
}
body{
  background-color: #3f7989;
}

.scpSubjects{
  padding-top: 15%;
}
nav{
  background-color: #788289;
}
.scpSubjects{
  background-color: #788289;
}

/* #n_bar{
  color: Black;
  text-decoration: none;

} */

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: white;
}

ul {
  background-color: #788289;
}

#logo{
  width: 5%;
  display: flex;

}


img{
  width: 25%;
}

.nav-item{
  color: Black;
  text-decoration: none;
}

